.ham {
    position: absolute;
    z-index: 1000;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
    background-size: 100%;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: #BF8C60;
    width: 100vw;
    height: 20vh;
    overflow: hidden;
    color: white;
    /* hide the menu above the screen by default */
    transform: translateY(-100%);
    /* transition adds a little animation when sliding in and out the menu */
    transition: transform 0.2s ease;
  }
  .showNav {
    /* show the menu */
    transform: translateY(0);
  }
  
.navbar ul {
    list-style: none;
    display: flex;
    /* flex-flow: column nowrap; */
    justify-content: space-evenly;
    align-items: center;
    font-family: "Forte";
    margin-top: 50px;
  }
  
  .navbar ul li a {
    color: #16498C;
    padding-bottom: 10px;
    text-decoration: none;
  }
 .navbar ul li {
     border-radius: 10px;
     background-color: #ffffff;
     padding: 10px;
 }


#containerPresentation
{
    display: grid;
    margin-top: 200px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    
    " . zone1 . . . . "
    " . zone1 . zone2 zone2 . "
    " . zone1 . zone2 zone2 . "
    " . . . . . ."
    " . . zone3 zone3 zone3 zone3 "
    " . . . . . . ";
}
h1
{
    font-family: "Forte";
    text-align: center;
}
.red
{
    grid-area: zone1;
    z-index: 3; 
    padding-left: 50px;
    margin-top: 20px;
}

.text
{
    grid-area: zone2;
    background-color:#16498C;
    color: #fff;
    border-radius: 10px;
    font-family: "Century Gothic";
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}
.citation
{
    grid-area: zone3;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 1.2em;
    text-align: right;
    padding-right: 50px;
}
.rectangleBlanc
{
    width  : 250px;
    height : 150px;
    background-color: #fff;
    border: solid #BF8C60 3px;
    z-index: 1;
    grid-area: zone1;
    margin-left: 90px;
}
.rectangleBleu
{
    width  : 120;
    height : 150px;
    background-color: #16498C;
    z-index: 2;
    grid-area: zone1;
    margin-top: 200px;
    margin-right: 100px;
}


/* espace css Diplome */
.cadreTitre
{
    background-color:#BF8C60;
    padding: 20px; 
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: "Forte";
    font-size: 1.5em;
}
.diplomesTitre{
    background-color: #ffffff;
    color:#16498C;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.grossirTitre
{
    font-size: 20px;
}
#containerDiplome
{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 7;
    justify-items: center;
}
#moncercle1Diplome
{
    background:#ffffff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    padding-top:40px;
    grid-row: 1;
    grid-column: 2;
    font-family: "Century Gothic";
    
}
.container1Diplome
{
    text-align: center;
    border: 3px #16498C solid;
    grid-column: 3;
    grid-row: 1;
    width: 500px;
    height: 150px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
.container2Diplome
{
    text-align: center;
    border: 3px #16498C solid;
    grid-column: 1;
    grid-row: 2;
    width: 500px;
    height: 150px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
#moncercle2Diplome
{
    background:#ffffff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    padding-top:40px;
    grid-row: 2;
    grid-column: 2;
    font-family: "Century Gothic";
}
.container3Diplome
{
    text-align: center;
    border: 3px #16498C solid;
    grid-column: 3;
    grid-row: 3;
    width: 500px;
    height: 150px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
#moncercle3Diplome
{
    background:#ffffff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    padding-top:40px;
    grid-row: 3;
    grid-column: 2;
    font-family: "Century Gothic";
}
.container4Diplome
{
    text-align: center;
    border: 3px #16498C solid;
    grid-column: 1;
    grid-row: 4;
    width: 500px;
    height: 150px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
#moncercle4Diplome
{
    background:#ffffff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    padding-top:40px;
    grid-row: 4;
    grid-column: 2;
    font-family: "Century Gothic";
}
.container5Diplome
{
    text-align: center;
    border: 3px #16498C solid;
    grid-column: 3;
    grid-row: 5;
    width: 500px;
    height: 150px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
#moncercle5Diplome
{
    background:#ffffff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    padding-top:40px;
    grid-row: 5;
    grid-column: 2;
    font-family: "Century Gothic";
}
.container6Diplome
{
    text-align: center;
    border: 3px #16498C solid;
    grid-column: 1;
    grid-row: 6;
    width: 500px;
    height: 150px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
#moncercle6Diplome
{
    background:#ffffff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    padding-top:40px;
    grid-row: 6;
    grid-column: 2;
    font-family: "Century Gothic";
}
.container7Diplome
{
    text-align: center;
    border: 3px #16498C solid;
    grid-column: 3;
    grid-row: 7;
    width: 500px;
    height: 150px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
#moncercle7Diplome
{
    background:#ffffff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    padding-top:40px;
    grid-row: 7;
    grid-column: 2;
    font-family: "Century Gothic";
}

/* espace css Experience */

.cadreExperience
{
    background-color:#BF8C60;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    font-family: "Forte";
    font-size: 1.5em;
}
.titreExperience
{
    background-color: #ffffff;
    color: #16498C;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

#containerExperience
{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 4;
    text-align: center;
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
#moncercle
{
    background:#ffffff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    padding-top:40px;
    font-family: "Century Gothic";
    
}
.container1
{
    grid-row: 1;
    grid-column: 3;
    border: 3px #16498C solid;
    width: 500px;
    height: 200px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
.container2
{
    grid-row: 2;
    grid-column: 1;
    border: 3px #16498C solid;
    width: 500px;
    height: 230px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
#moncercle2
{
    background:#fff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 2;
    grid-column: 2;
    padding-top:40px;
    font-family: "Century Gothic";
}
.container3
{
    grid-row: 3;
    grid-column: 3;
    border: 3px #16498C solid;
    width: 500px;
    height: 200px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
#moncercle3
{
    background:#ffffff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 3;
    grid-column: 2;
    padding-top:40px;
    font-family: "Century Gothic";
}
.container4
{
    grid-row: 4;
    grid-column: 1;
    border: 3px #16498C solid;
    width: 500px;
    height: 240px;
    color: #ffffff;
    background-color: #16498C;
    border-radius: 10px;
    font-family: "Century Gothic";
}
#moncercle4
{ 
    background:#ffffff;
    border-radius:50%;
    width:100px;
    height:60px;
    border:2px solid #BF8C60; 
    grid-row: 4;
    grid-column: 2;
    padding-top:40px;
    font-family: "Century Gothic";
}


/* espace css Competence */

.titrediplômes
{
    background-color: #ffffff;
    color: #16498C;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.ligne1Competence
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    margin-left: 250px;
    margin-bottom: 30px;
    margin-top: 80px;
}

.logoWordpress
{
    padding-top: 15px;
    padding-right: 50px;
    width: 70px;
    height: 70px;
    grid-column: 7;
    grid-row: 1;
}
.logoGit
{
    padding-top: 10px;
    width: 85px;
    height: 80px;
    grid-column: 5;
    grid-row: 1;
}
.logoCss
{
    padding-top: 10px;
    padding-left: 15px;
    width: 58px;
    height: 80px;
    grid-column: 3;
    grid-row: 1;
}
.logoHtml
{
    padding-top: 5px;
    padding-left: 5px;
    width: 90px;
    height: 90px;
    grid-column: 1;
    grid-row: 1;
}
.ligne2Competence
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr; 
    margin-left: 270px;
    margin-bottom: 80px;
    margin-top: 80px;
}
.logoIllustrator
{
    width: 60px;
    height: 60px;
    grid-column: 1;
    grid-row: 1;
}
.logoIndesign
{
    width: 60px;
    height: 60px;
    grid-column: 3;
    grid-row: 1;
}
.logoPhotoshop
{
    width: 60px;
    height: 60px;
    grid-column: 5;
    grid-row: 1;
}
.logoXD
{
    width: 60px;
    height: 60px;
    grid-column: 7;
    grid-row: 1;
}
#competencePerso
{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-row: 1;
    border: solid #16498C 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.textcompetence1
{
    grid-column: 1;
    grid-row: 1;
    line-height: 30px;
    font-family: "Century Gothic";
    padding-left: 90px;
}
.textcompetence2
{
    grid-column: 2;
    grid-row: 1;
    line-height: 41px;
    font-family: "Century Gothic";
}
/* espace css Langues */


.titreLangue
{
    background-color: #ffffff;
    color: #16498C;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
#containerLangue
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.flag1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    font-family: "Century Gothic";
}
.flag2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Century Gothic";
}
.drapeauEsp
{
    height: 100px;
    width: 160px;
}
.drapeauEngl
{
    height: 100px;
    width: 160px;
}

/* espace css Comment me contacter */


.titreContact
{
    background-color: #ffffff;
    color: #16498C;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.envellope
{
    width: 70px;
    height: 70px;
    
}
#containerContact
{
    display: flex;
    justify-content: space-around;

}
.contact1
{
    display: flex;
    border: solid #16498C 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    line-height: 50px;
    border-radius: 10px;
    font-family: "Century Gothic";
}
.contact2
{
    display: flex;
    flex-direction: column;
    border: solid #16498C 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-family: "Century Gothic";
}

#containerCvPapier
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.lienTelechargement
{
    border: solid #16498C 3px;
    margin-bottom: 50px;
    padding: 30px;
    font-family: "Century Gothic";
}
#telechargerCv
{
    display: none;
}
@font-face
{
    font-family: "Forte";
    src: url(../Font/FORTE.TTF) format("truetype");
    font-family: "Century Gothic";
    src: url(../Font/07558_CenturyGothic.ttf) format("truetype");
}





@media screen and (max-width: 480px)
{
/* espace css 1erpage */


  /* on affiche l'icone du menu-burger */
  .ham {
    position: absolute;
    z-index: 1000;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
    background-size: 100%;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: #BF8C60;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    color: white;
    /* hide the menu above the screen by default */
    transform: translateY(-100%);
    /* transition adds a little animation when sliding in and out the menu */
    transition: transform 0.2s ease;
  }
  .showNav {
    /* show the menu */
    transform: translateY(0);
  }
  
.navbar ul {
    list-style: none;
    display: flex;
     flex-flow: column nowrap; 
    justify-content: space-evenly;
    align-items: center;
    font-family: "Forte";
    margin-top: 50px;
    background-color: #ffffff;
    border: solid #BF8C60 1px;
    
  }
  
  .navbar ul li a {
    color: #16498C;
    padding-bottom: 10px;
    text-decoration: none;
  }
 .navbar ul li {
     border-radius: 10px;
     background-color: #ffffff;
     padding: 10px;
     border: solid #BF8C60 1px;
     margin: 2px;

 }

#containerPresentation
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 400px;
  }
img
{
   width: 140px;
   height: 200px;
   padding-right: 40px;
}

h1
{
    display: none;
}
.text
{  
    background-color:#16498C;
    color: #fff;
    border-radius: 10px;
    font-family: "Century Gothic";
    text-align: justify;
    font-size: 12px;
    width: 200px;
    margin-top: 50px;
    padding: 20px;
}
.citation
{
    display: none;
}
.rectangleBlanc
{
    display: none;
}
.rectangleBleu
{
    display: none;
}
    /* espace css Diplome */
#containerDiplome{
    display: grid;
    grid-template-columns: 210px 210px;
    grid-template-rows:repeat(5, 1fr);
    grid-gap: 5px;
}
.grossirTitre
{
    font-size: 14px;
}
.cadreTitre
{
    background-color:#BF8C60;
    padding: 20px; 
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: "Forte";
    font-size: 1.3em;
}
#containerDiplome
{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 7;

}
.container1Diplome
{
    grid-column: 1;
    grid-row: 1;
    background-color: #ffffff;
    color: hsl(214, 73%, 32%);
    width: 170px;
    height: 80px;
    padding-top: 10px;
    margin-left: 30px;
}
.container2Diplome
{
    display: none;
}
.container3Diplome
{
    grid-column:2;
    grid-row: 2;
    background-color: #ffffff;
    color: #16498C;
    width: 170px;
    height: 80px;
    padding-top: 10px;
}
.container4Diplome
{
    display: none;
}
.container5Diplome
{
    grid-column: 1;
    grid-row: 3;
    background-color: #ffffff;
    color: #16498C;
    width: 170px;
    height: 80px;
    padding-top: 10px;
    margin-left: 30px;
}
.container6Diplome
{
    grid-column: 2;
    grid-row: 4;
    background-color: #ffffff;
    color: #16498C;
    width: 170px;
    height: 80px;
    padding-top: 20px;
}
.container7Diplome
{
    grid-column: 1;
    grid-row: 5;
    background-color: #ffffff;
    color: #16498C;
    width: 170px;
    height: 80px;
    padding-top: 20px;
    margin-left: 30px;
}
.textDiplome
{
    display: none;
}
#moncercle1Diplome
{
    display: none;
}
#moncercle2Diplome
{
    display: none;
}
#moncercle3Diplome
{
    display: none;
}
#moncercle4Diplome
{
    display: none;
}
#moncercle5Diplome
{
    display: none;
}
#moncercle6Diplome
{
    display: none;
}
#moncercle7Diplome
{
    display: none;
}
/* espace css Experience */

.cadreExperience
{
    display: none;
}
.titreExperience
{
    display: none;
}
#containerExperience
{
    display: none;
}

/* espace css Compétence */

.ligne1Competence
{
    display: grid;
    justify-content: center;
    margin-left: 80px;
    margin-top: 30px;
    grid-row-gap:40px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 2fr;
    margin-bottom: 40px;
}

.logoWordpress
{
    grid-column: 2;
    grid-row: 2;
    padding-left: 5px;
    width: 56px;
    height: 56px;
}
.logoGit
{
    grid-column: 1;
    grid-row: 2;
    width: 60px;
    height: 60px;
    padding-left: 55px;
    padding-top: 15px;
}
.logoCss
{
    padding-left: 10px;
    grid-column: 2;
    grid-row: 1;
    width: 47px;
    height: 60px;
}
.logoHtml
{
    grid-column: 1;
    grid-row: 1;
    width: 75px;
    height: 70px;
    padding-left: 50px;
}
.ligne2Competence
{
    
    display: grid;
    justify-content: center;
    margin-left: 100px;
    margin-top: 60px;
    grid-row-gap:40px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 2fr; 
}
.logoIllustrator
{
    grid-column: 1;
    grid-row: 1;
    width: 50px;
    height: 50px;
    padding-left: 50px;
}
.logoIndesign
{
    grid-column: 2;
    grid-row: 1;
    width: 50px;
    height: 50px;
}
.logoPhotoshop
{
    margin-top: 30px;
    grid-column: 1;
    grid-row: 2;
    width: 50px;
    height: 50px;
    padding-left: 50px;
}
.logoXD
{
    margin-top: 30px;
    grid-column: 2;
    grid-row: 2;
    width: 50px;
    height: 50px;
}
#competencePerso
{
    display: none;
}

/* espace css Langues */

#containerLangue
{
    display: grid;
    text-align: center;
    margin-top: 30px;
    grid-template-columns: 1fr ;
    grid-template-rows:2 ;
}
.flag1
{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    margin-bottom: 30px;
}
.flag2
{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}
.drapeauEsp
{
    padding-left: 45px;
    height: 60px;
    width: 80px;
}
.drapeauEngl
{
    padding-left: 45px;
    height: 60px;
    width: 80px;
}

/* espace css Contacts */

.envellope
{
    width: 70px;
    height: 70px;
}
#containerContact
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact1
{
    border: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    line-height: 50px;
    margin-bottom: 20px;
}
.contact2
{
    display: flex;
    flex-direction: column;
    border: solid #16498C 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
    width: 100px;
    font-size: 16px;
}
.envellope
{
    width: 70px;
    height: 70px;
    padding-left: 40px;
}
#telechargerCv
{
    display: flex;
    justify-content: center;
    visibility: visible;
    margin-top: 30px;
    font-family: "Century Gothic";
    border: solid #16498C 3px;
    
}

}
